.events__title{
    color: #21201F;
    font-family: YS Text;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; 
    letter-spacing: -0.96px;
    max-width: 600px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1439px){
    .events__title{
        margin-left: calc(262/1440*100%);
        width: calc(827/1440*100%);

    }
    
}

@media screen and (max-width: 740px){
    .events__title{
        color: #21201F;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 32px */
        letter-spacing: -0.64px;
        margin-left: calc(32/375*100%);
        width: calc(311/375*100%);
    }
    
}