.events__text{
    color: #21201F;
    font-family: YS Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    margin: 0;
    padding: 0;
    width: calc(442/959*100%);
    margin: 0;
    padding: 0;
    margin-top: 48px;
}

@media screen and (max-width: 1439px){
    .events__text{
        margin-left: calc(262/1440*100%);
        width: calc(250/375*100%);
    }
    
}

@media screen and (max-width: 740px){
    .events__text{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 19.2px */
        width: calc(311/375*100%);
        margin-left: calc(32/375*100%);
    }
    
}