.header__button{
    color: #21201F;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    border: none;
    padding: 24px 48px;
}

@media screen and (max-width: 640px){

    .header__button{
        height: 49px;
        color: #21201F;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 122.222% */
        position: fixed;
        top: 90%;
        padding: 0;
        width: 311px;
        margin: 0 auto;
    }
    
}